


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//format
.ui-section{
    padding-top:80px;
    padding-bottom:80px;

}
.ui-section-small{
    padding-top:50px;
    padding-bottom:50px;
}
.ui-section-large{
    padding-top:150px;
    padding-bottom:150px;
}
.text-bold{
    font-weight: bold!important;
}
.text-medium{
    font-size:1rem;
}
//background
.ui-bg-light-blue{
    background-color: #708efc;
    h1,h2,h3,h4,h5,p{
        color:#fff!important
    }
}
.ui-bg-light{
    background-color:#f5f8fa;
}
.ui-bg-dark-blue{
    background-color:#544388;
    h1,h2,h3,h4,h5,p{
        color:#fff!important
    }
}