
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-ama {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.border-bottom-light{
  border-bottom:1px solid #ddd;
}
//footer
.ui-footer{
  background-color:#1a2127;
  padding-top:30px;
}
.footer-subtitle,.copyright {
  color:#a6aeb1;
}
.social-media li a i {
  color:#fff;
  padding:10px;
}
.social-media li a i:hover{
  color:#a6aeb1;
}
.social-media li a i:first-child{
  margin-right:10px;
}

.copyright{
  background-color:#27313b;
}

//home
.carousel-item:after{
   content:"";
   display:block;
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background:rgba(0, 0, 0, 0.6);
}
//about
@media only screen and (max-width: 600px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
.section-title{
  position: relative;
  font-size:35px;
  font-weight:300;
  margin: 0 0 60px;
}
.section-title:after{
      content: "";
      width: 50px;
      height: 2px;
      left: 0;
      right: 0;
      background-color: #cacbcc;
      display: block;
      position: absolute;
      margin: auto;
      bottom: -20px;
}